$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-notification-path1: "\e910";
$icon-notification-path2: "\e911";
$icon-notification-path3: "\e912";
$icon-notification-path4: "\e913";
$icon-positive: "\e90d";
$icon-negative: "\e90e";
$icon-Angle-Down: "\e900";
$icon-Angle-Left: "\e901";
$icon-Angle-Right: "\e902";
$icon-Angle-Up: "\e903";
$icon-Dashboard: "\e904";
$icon-Dashboard1x: "\e905";
$icon-Dashboard2x: "\e906";
$icon-Dashboard3x: "\e907";
$icon-Eye: "\e908";
$icon-Eye-Slash: "\e909";
$icon-Rectangle2x: "\e90a";
$icon-Schedule: "\e90b";
$icon-User: "\e90c";
$icon-school: "\e90f";
$purple-color: #5800aa;
