@media only screen and (max-width:1400px){
	.top-nav{width: 82%;}
	.top-nav ul li a{padding: 0 16px;}
	.top-nav ul li a:after{width: 148px;}
	.top-nav ul li{margin-right: 20px;}
	.fixed-btm button{right: 30px;}
}

@media only screen and (max-width:1199px){
	.head-inner{padding-left: 30px;margin-right: 30px;margin-top: -20px;}
	.top-nav ul li a{padding: 0 10px;}
	.top-nav ul li{margin-right: 10px;}
	.top-nav{width: 79%;}
	.top-nav ul li a:after{width: 128px;}
	header .logo{margin-right: 50px;}
	.top-nav ul li a{font-size: 20px;}
	.container{padding: 0 15px;}
	.product-left{padding-top: 40px;}
	.left-btm{margin-top: 10px;}
	.left-btm li font{font-size: 22px;line-height: normal;margin-bottom: 5px;}
	.left-btm li{padding-right: 40px;margin-right: 40px;}
	.product-right{padding-top: 30px;}
	.product-right h4{margin-bottom: 15px;}
	p{font-size: 18px;line-height: 26px;}
	.custom-radios input[type=radio] + label span{width: 60px;height: 60px;}
	.custom-radios input[type=radio] + label span:before{top: 17px;left: 26px;}
	.product-right .select-color h5{margin-bottom: 22px;}
	.select-color{padding-top: 15px;}
	.custom-radios{padding-left: 14px;}
	.color-box{margin-right: 10px;}
	h5{font-size: 20px;}
	.select-color{margin-bottom: 30px;margin-top: 20px;}
	body{font-size: 18px;line-height: 26px;}
	.right-btm h5{margin-bottom: 12px;}
	.product-right{height: 70vh;padding-bottom: 20px;}
	.fixed-btm span{font-size: 24px;}
	.fixed-btm em{margin-left: 18px;}
	.fixed-btm{height: 73px;line-height: 70px;}
	.fixed-btm button{height: 50px;line-height: 50px;top: 13px;}
}

@media only screen and (max-width:991px){
	header .logo{display: block;text-align: center;margin-right: 0;}
	.head-inner{margin-top: 0;padding: 0;margin: 0;padding: 0 15px;padding-bottom: 14px;}
	.top-nav{width: 100%;top: 0;margin-top: 20px;}
	.product-left{border-right: none;}
	.top-nav ul li a:after{bottom: -19px;height: 3px;}
	.product-left{height: auto;}
	.product-right{height: auto;overflow-y: visible;padding-bottom: 100px;padding-right: 0;}
	.middle-content{height: 80vh;overflow-y: auto;}
}

